*{
    margin: 0;
    font-family:'open sans' ,sans-serif;
}
.background-image{
    background-image:url('../donation13.jpg');
    background-position: bottom;
}
nav{
    display: flex;
     justify-content: space-between;
     margin: 50px 200px;
}
.banner{
display: flex;
align-items: center;
margin: 0px 350px;
}
.nav-title{
font-weight: 700;
font-size: 65px;
text-align: center;
line-height: 79px;
position: absolute;
width: 826px;
height: 158px;
left: 307px;
top: 164px;
padding-bottom: 30px;
}
.sub-title{
font-weight: 400;
font-size: 18px;
text-align: center;
line-height: 28px;
padding-bottom:30px;
position: absolute;
width: 691px;
height: 56px;
left: 375px;
top: 352px;
}
.button-pri{
    height: 60px;
    background: #FF5959;
border-radius: 5px;
align-items: center;
padding: 16px 12px;
gap: 8px;
border: none;
color: #FFFFFF;
font-weight: 600;
font-size: 20px;
display: flex;
justify-content: center;
position: absolute;
width: 160px;
height: 60px;
left: 640px;
top: 438px
}